@model IEnumerable<Adminiscar.Models.Cliente>

@{
    ViewBag.Title = "ConsultaCliente";
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}

<h2>ConsultaCliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Nome
        </th>
        <th>
            CPF
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeCli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpfCli)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
