@model IEnumerable<Adminiscar.Models.Carro>

@{
    ViewBag.Title = "ConsultaCarro";
    Layout = "~/Views/Shared/_HeaderAndFooter.cshtml";
}
@if (Session["usuarioLog"] != null)
{
    <!--header-->
    <header class="navInfo mb-3">

        <div class="row justify-content-center">
            <div class="col">
                <div class="dataHora d-inline-block p-2 rounded">
                    <!--<p>01/10/2020 13:50</p>-->
                    <p>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year @DateTime.Now.Hour:@DateTime.Now.Minute</p>
                </div>
            </div>

            <div class="col text-center">
                <div class="logoConteinerSmall d-inline-block p-2 rounded bg-light boxShadow">
                    <img class="logoSmall" src="~/Img/Logo/adminiscar.jpg" alt="logo_da_empresa" />
                </div>
            </div>

            <div class="col text-right" onclick="NavFuncao(7);">
                <div class="butao butao-logout1 d-inline-block p-2 rounded text-center">
                    <p>Voltar</p>
                </div>
            </div>
        </div>

    </header>
    <!--fimHeader-->
    <!--Consulta-->
    <section class="row justify-content-center my-4 consultaSecao">

        <!--Busca-->
        <div class="col-12 p-3 bg-light">

            <h2 class="text-center my-2 text-roxo">Pesquisa</h2>

            <div class="row p-2 justify-content-center">
                <div class="col-8">
                    @using (Html.BeginForm("BuscaCarro", "Adminiscar", FormMethod.Post))
                    {
                        <input class="form-control col-10 mx-auto boxShadow2" name="buscaCar" type="text" placeholder="Exemplo: Ana Clara Caroline" id="buscCliNome" />

                        <div class="col-4 my-3 mx-auto text-center">
                            <button class="btn btn-secondary rounded" type="submit">Buscar</button>
                        </div>
                    }

                </div>

            </div>

            <div class="row p-2 justify-content-center text-roxo">
                <div class="my-1 mx-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>Categoria</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Situação</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Placa</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Extra Teste</label>
                </div>
            </div>
        </div>
        <!--fimBusca-->

        <div class="col-12 mt-4 pt-2">
            <table class="table mt-2 bg-light rounded">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Cod</th>
                        <th scope="col">Nome Do Veiculo</th>
                        <th scope="col">Renavam</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.codCar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomeCar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.renavCar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.placaCar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.modeloCar)
                            </td>
                            <td>
                                @using (Html.BeginForm("DetalheCarro", "Adminiscar", FormMethod.Post, new { @class = "d-inline" }))
                                {
                                    <input type="hidden" name="codCar" value="@Html.DisplayFor(modelItem => item.codCar)" />
                                    <button class="btn btn-primary my-1" type="submit">Detalhes</button>
                                }

                                @using (Html.BeginForm("EditarCarro", "Adminiscar", FormMethod.Post, new { @class = "d-inline" }))
                                {
                                    <input type="hidden" name="editarCar" value="@Html.DisplayFor(modelItem => item.codCar)" />
                                    <button class="btn btn-primary my-1" type="submit">Editar</button>
                                }

                                @using (Html.BeginForm("DeleteCarro", "Adminiscar", FormMethod.Post, new { @class = "d-inline" }))
                                {
                                    <input type="hidden" name="deletarCar" value="@Html.DisplayFor(modelItem => item.codCar)" />
                                    <button class="btn btn-primary my-1" type="submit">Deletar</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </section>
}
else
{


    <div class="row justify-content-center my-2 py-2">
        <div class="col-10 mx-auto alert alert-danger text-center py-1"><img src="~/Img/Imagens/alerta.jpg" alt="alertaDeAcessoNegado" /></div>
        <div class="col-10 mx-auto alert alert-danger text-center py-1">@Html.ActionLink("Voltar Login", "Index", "Adminiscar", new { @class = "btn btn-warning btn-lg font-weight-bold" })</div>
        <div class="col-10 mx-auto alert alert-danger text-center rounded-bottom py-1 "><p class="text-center text-danger font-weight-bold">Você precisar ta logado para acessar essa pagina, volte a tela de login!!!</p></div>
    </div>


}


