<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Alpha v0.0.1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<!-- conteudo -->
<body class="bg-degrader" onload="move();">

    <div class="container-fluid">
        @RenderBody()
    </div>

    <!-- version do sistema -->
    <div class="versao">
        <p><b>DEV</b>v0.1.500</p>
    </div>

    <style>

        /*version do sistema*/
        .versao {
            position: fixed;
            bottom: 2px;
            right: 5px;
            padding: 0.4%;
            width: 110px;
            height: 30px;
            border-radius: 2px;
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px #111;
            background-color: rgba(81, 45, 168, 0.5);
            visibility: visible;
        }

            .versao b {
                font-weight: bold;
            }

        /* fim */

    </style>
    <!-- fim -->

</body>
<!-- fimConteudo -->
<!-- footer
<hr />

<footer class="text-center">
    <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
</footer>
 fimFooter -->
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
